body{
    font-family: calibri;
}

.container{
	background-image: url('../images/tech-pass1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 470px 610px;
    height: 610px;
    width: 470px;
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translate(-50%, -50%);
	margin: auto;
    padding: 45px 60px 60px 60px;
}

.textBox{
    background: transparent;
    color: black;
    height: 19px;
	width: 224px;
    border: 1px solid red;
    /*background: repeating-linear-gradient(-60deg, rgb(0, 0, 0) 0, rgb(0, 0, 0) 1px, transparent 1px, transparent 5px);*/
}

#vin{
    width: 275px;
}

#reg_date{
    width: 227px;
}

.input1{
    padding-top: 155px;
    padding-left: 181px;
    
    
}

.input2{
    padding-left: 181px;
    padding-bottom: 22px;
}

.input3{
    padding-left: 181px;
}

.input4{
    padding-left: 181px;
}

.input5{
    padding-left: 130px;
}

.form{
    background: transparent;
    position: absolute;
    height: 200px;
    width: 350px;
    /*border: 3px solid black;*/
    top: 55%;
	left: 55%;
    color: white;
    font-size: 18px;
    text-align: left;
    
}

.input{
    height: 20px;
    width: 180px;
    
}

.input #engine, #gear_box{
    height: 25px;
}

.input #gear_box, #engine{
    height: 25px;
}


.label{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}

.button{
	border: none;
  	color: white;
	padding: 12px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
	text-transform: uppercase;
	background-color: #2E64FE;
    
}

.buttonHolder{
    padding-top: 20px;
}

.lain{
    padding-top: 15px;
}

.glow{
    font-size: 40px;
    color: black;
    text-align: right;
    animation: glow 1s ease-in-out infinite alternate;
    margin-right: 350px;
    margin-top: 60px;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #FE642F, 0 0 30px #FE642F, 0 0 40px #FE642F, 0 0 50px #FE642F, 0 0 60px #FE642F, 0 0 70px #FE642F;
    }
    /*to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }*/
  }