*{
	padding: 0;
	margin: 0;
}


.container{
	background: #1a2033;
	width: 355px;
	height: 465px;
	padding-bottom: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
    padding: 30px 60px 60px 35px;
}


.fl{
	float: left;
	width: 110px;
	line-height: 35px;
}

.fontLabel{
  	color: white;
}

.input{
	float: right;
}


.box{
	width: 360px;
	height: 35px;
	margin-top: 10px;
	font-family: 'Calibri';
	font-size: 15px;
}

.terms{
	width: 360px;
	height: 35px;
	margin-top: 0px;
	font-family: 'Calibri';
	font-size: 15px;
}

.textBox{
	height: 35px;
	width: 190px;
	border: none;
  	padding-left: 20px;
}


.icon{
	height: 35px;
	width: 40px;
	line-height: 38px;
	text-align: center;
  	background: #FE642F;
}


.terms{
	line-height: 25px;
	text-align: center;
	color: white;
}

.button{
	border: none;
  	color: white;
	padding: 12px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
	text-transform: uppercase;
	background-color: #2E64FE;
	
}

.user_reg{
	padding-bottom: 5px;
}

